.chat{
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
}
.new-messages-wrap{
    display: block;
    overflow: auto;
    height: 301px !important;
    padding: 1em 0;
}

.headerleter .hora{
    width: 100% !important;
    font-style: italic !important;
    opacity: 0.5;
}
input[name="message"]{
    padding: 1em .5em;
}
.iconochat{
    top: 25%;
}
.chat-status-message{
    padding: 1em 0;
    padding-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ingresa-chat .contactcampo{
    width: 100% !important;
    margin: 0 0 15px;
    float: left;
    min-height: 40px;
}
.contenidochat .contactcampo .chzn-container {
    width: 240px !important;
}
.ingresa-chat .contactcampo .chzn-container-single .chzn-single{
    width: 230px !important;
}
.ingresa-chat .chzn-search input[type="text"]{
    float: none;
    background-color: #E7E9EC;
    border: 1px solid #E7E9EC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 #DFE1E3 inset;
    color: #666666;
    font-family: inherit;
    font-size: 11px;
    height: 20px !important;
    margin-bottom: 0px;
    width: 100%;
    padding: 0;
    text-indent:10px;
}

[data-form="login-chat"] [type="submit"]{
    padding: .5em 1em;
    background: #2371B7;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: right;
    font-size: 13px;
    font-family: 'GillSansDisplayMT-Bold';
}
[data-form="login-chat"] [type="submit"]:hover{
    background: #1c598e;
}

.ingresa-chat {
    margin: 0;
}
.ingresa-chat input[type="text"],
.ingresa-chat input[type="email"]{
    height: 32px;
}
.ingresa-chat input[type="email"] {
    background-color: #E7E9EC;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    float: left;
    font-size: 11px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0 4%;
}
[name="message"]::-webkit-input-placeholder,
[name="message"]::-moz-placeholder,
[name="message"]:-moz-placeholder,
[name="message"]::-ms-input-placeholder{
    color: rgba(0,5,143,.5);
    font-weight: normal;
}

.message-loading{
    opacity: .6;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}