body
  +bg(url(../img/bg_body.png))

//@header

header
  +bt(2px solid $yellow)
  height: 100px
  +relative
  +bg(white)
  +z(999999)  
  margin: 0
  +shadow
  .wrapper
    +grid
    +space()
    +align($cen)
    .logo
      flex: 0 238px
      height: 80px
      margin: 10px 0 0 20px
      img
        +s100
    .social
      flex: 1
      +mt(15px)
      +box
      +space($end)

      a
        +bg($yellow)
        +block
        +tCenter
        flex: 0 30px
        margin: 0 5px
        +transition(.2s)
        i
          +white
          +mt(5px)
          +fs(2)
        +hover
          +bg($gray-dark)
        +nth3
          i
            +mt(4px)
    nav
      flex: auto
      ul
        +noList
        +grid
        +space($end)
        +mt(18px)
        > li
          flex: 0 auto
          margin: 0 
          +relative
          border-right: thin dotted $gray
          > a
            +fs(1.5, 100%, 400)
            +transition(.2s)
            +gray-dark
            padding: 3px 25px
            +radius(0)
            +noUnder
            +upper
            +block
  
            +bb(2px solid $transparent)
            +hover
              +co($yellow)

        
          ul
            +none
            +top-left()
            width: 180px
            padding: 0 $i
            +noShadow
            +radius(3px $i)
            +bg($gray-light + 15 $i)
            +z(999999999)
            +before
              +size(14px)
              +content('')
              +top-left(-7px, 20px)
              +z(1)
              +rotate
              +bg($gray-light + 15 $i)
              +transition(.2s)

                
            > li
              padding: 0px 0 $i
              +w100
              margin: 0 $i
              +bg(none $i)
              +noBorder
              > a
                +reset
                text-align: center $i
                padding: 10px 0 $i
            ul
              display: none $i
              +reset
              
        li:nth-of-type(4)
          +noBorder
          
        li.first a
          +co($yellow)

//.mobile-menu-active > ul > li:nth-of-type(1)
//  > .wrap_men_sec_header
//    > ul
//      position: relative $i
//      width: 100% $i
//      +before
//        +none
//
//.submenu-active
//  display: block $i
  
            
//@HOME

main.home
  +z(9)
  +relative
  //@banner

  section.banner
    .slides
      img
        height: 500px $i
    .flex-control-nav
      bottom: 20px $i
      a
        border: thin soid $gray $i
        +bg(transparent $i)  
        +noText   
      .flex-active
        +bg($yellow $i)
    .flex-caption
      +mt(-500px)
      height: 500px
      +p0
      +relative
      .prev,
      .next  
        +size(40px)
        +bg(transparent)
        border: thin solid white
        +absolute
        top: 50%
        +z(99999)
        +mt(-20px)
        +block
        +tCenter
        +transition(.2s)
        i
          +white
          +fs(2)
          +mt(10px)
          +transition(.2s)
        +hover
          +bg(white)
          i
            +co($yellow)
      .prev
        left: 10px
        +radius(5px)
      .next
        right: 10px
        +radius(5px)
        
      article
        +borderFix
        +block
        +z(9)
        +page
        +h100

        .wrapper
          +bot-left(0px, 10px)
          padding: 10px 0
          +bg($yellow)
        h2
          +fs(2.4, 100%, 700)
          
          margin: 0px 0 0px
          +white
          padding: 0 70px
          +relative
          +upper
          
          //          +before
          //            +content('')
          //            +size(30px 1px)
          //            +bg(rgba(255,255,255, .3))
          //            +top-left(-15px, 0)
        p
          +fs(1.8, 150%, 300)
          +white
          padding: 0 70px
          
        a.btn
          +right
          +clear
          +top-right(20px, 70px)
          //        a
          //          +co($yellow)
          //          +fs(1.5, 100%, 400)
          //          +upper
          //          +mt(20px)
          //          +under
          //          +block     
  //@services
  
  section.services
    margin: 0
    .wrapper
      +grid
      article
        +pointer
        +bg($yellow)
        +relative  
        box-shadow: 0px 1px 1px rgba(0,0,0,.3)
        flex: 1
        padding: 0 0 50px
        height: 350px
        figure
          +noScroll
          height: 200px
          +bg(white url(../img/fondo-image.jpg))
          background-size: cover
          img
            +s100
            
        h2
          +fs(1.6, 100%, 700)
          +upper
          +white
          margin: 15px 10px 10px
        p
          +fs(1.4, 150%, 400)
          +white
          margin: 10px
        a
          +under
          +gray-dark
          +fw(800)
          +ml(5px)       
        .icon
          +bg(white)
          +bot-right(0, 20px)
          +size(40px)
          +ml(-20px)
          +tCenter
          i
            +co($gray-dark)
            +fs(2)
            +mt(10px)
            
            
        +nth2
          margin: 0 30px 
          flex: 1
          +bg($gray-dark)
          figure
            +bg(white url(../img/fondo-video.jpg) top center)
            

          .icon
            +bg($yellow)
            i
              +white

        +nth3
          flex: 0 42%
          +bg(white)
          figure
            +bg(white url(../img/fondo-news.jpg))
            background-size: cover
          .icon
            +bg($gray-dark)
            i
              +white
          h2, p
            +gray-dark
          
          a
            margin: 5px 10px
            +transition()
            +even
              +co($yellow)
              +hover
                +co($gray-dark)
            +hover
              +co($yellow)

            
          
        
        
  //  @info      
  .wrapper.grid     
    +box
    section.info
      +relative
      flex: 0 70%
      margin: 30px 0
      +noScroll
      +bg(#333)
      box-shadow: 0px 1px 1px rgba(0,0,0,.3)
      h2
        +right
        width: 440px
        +fs(2, 100%, 700)
        padding: 20px 20px 0px 0
        +white
        +upper
      figure
        +bg(white url(../img/fondo-news2.jpg) left top)
        background-size: cover
        width: 300px
        height: 259px
        +left
        +mr(30px)
      .icon
        +bg($yellow)
        +top-right(0, 30px)
        +size(40px)
        +ml(-20px)
        +tCenter
        i
          +white
          +fs(2)
          +mt(10px)
      p
        +right
        width: 440px
        +fs(1.6, 140%, 300)
        padding: 0px 20px 20px 0
        +tLeft
        +co($gray-light)
        span
          +white
          +fw(400)
          +mr(10px)

    section.cartoon
      flex: 1
      +relative
      margin: 30px 0 30px 30px
      +bg($yellow)
      padding: 15px 20px 20px 20px
      h2
        +white
        +fs(1.8, 100%, 700)
        margin: 0px 0 15px
        +upper
      p
        +white
        margin: 10px 0
        +fs(1.4, 120%, 400)
        text-align: justify
        
      figure
        +w100
        height: 120px
        +bg(white url(../img/fondo-cartoon.jpg))
        background-size: contain
          
      .icon
        +bg(#333)
        +top-right(0, 20px)
        +size(40px)
        +tCenter
        i
          +white
          +fs(2)
          +mt(10px)
          
      .btn
        +bot-right(10px, 10px)
          
        
          
  //  @carousel        
        
  section.allies
    h2
      +fs(1, 100%, 700)
      +gray-dark
      +bg(white)
      +w100
      +upper
      margin: 10px 0 0
      +tCenter
      +relative
      +before
        +content('')
        +top-left(5px, 5px)
        +block
        +size(400px 1px)
        +bg($gray-light)
      +after
        +content('')
        +top-right(5px, 5px)
        +block
        +size(400px 1px)
        +bg($gray-light)
      
    > .wrapper
      +bg(white)
      padding: 10px  
        
    #prev,
    #next
      +absolute
      top: 50%
      +size(10px 22px)
      +mt(-5px)
      i
        +co($gray-dark)  
        +fs(2)
    #prev
      left: 20px
    #next
      right: 20px
      
  .carousel-home
    width: 900px
    +centered(20px, 40px)
    img
      +mr(10px)
      
      
//@footer

footer
  +bg(#333)
  +mt(30px)  
  .wrapper
    .contact-info
      +box
      +space($cen)
      padding: 10px 0
      > div
        flex: 0 auto
        margin: 0
        padding: 2px 20px
        +fs(1.6, 100%, 400)
        +white
        +br(thin dotted $white)
        a
          +co($yellow)
          
        i
          +mr(10px)
      > div 
        +nth3
          +noBorder
    .copy
      +box
      .copyright
        +white
        flex: 1
        +fs(1.4, 100%, 400)
        margin: 0px 0px 10px 20px
        span
          +co($yellow)
      .ahorranito
        margin: -2px 20px 0 0
        flex: 1
        +tRight
        +fs(1.3, 100%, 400)
        a
          +white
          
//@products



main.products
  +columns
        
  .products-list
    +boxList       
      
//@detail productos

.products-detail
  .wrapper
    +container

    article
      figure,
      .slider
        height: 400px
        border: thin solid $gray-light
        +left
        width: 500px
        margin: 8px 20px 10px 0
        +bg($yellow)
        img
          +s100
      .price,
      .reference
        +para
        padding: 5px
        width: 460px
        +right
        +bb(thin solid $gray-light)
        i
          +mr(10px)
      .price
        +mb(20px)
  .btn
    +top-right(10px, 10px)
    
//@AboutUs

main.aboutUs
  .wrapper
    +container
    h1
      +title-section
    figure,
    .video

      height: 400px
      border: thin solid $gray-light
      +left
      width: 500px
      margin: 8px 20px 10px 0
      +bg($yellow)
      img,
      iframe
        +s100
        
//@Services

main.services
  +columns        
  .services-list
    +boxList

          
      
//@Bussines lines

.bussinesLines
  .wrapper
    +container
    +mb(20px)
    h1
      flex: 100%
      margin: 0
      +title-section
    .text
      margin: 10px 0 0
      flex: 100%
  .grid
    +container
    +page
    +box
    article
      flex: 0 32.2%
      padding: 10px
      border: thin solid $gray-light
      +nth2
        margin: 0 10px
      figure
        height: 140px
        img
          +s100
      h2
        +tCenter
        +fs(1.4, 100%, 700)
        +co($yellow)
        +upper
      .text
        +para
      .btn
        margin: 10px 0
        +right
        +clear
        i
          +ml(10px)
          
//@detail productos

.services-detail
  +detail
    
//@Bussines lines

.bussines-products
  +columns
  .bussines-list
    +boxList

h1
  +title-section
  
          
.help
  +help
  
.proveider-detail
  +detail
  
main.contact
  .wrapper
    +container
    +box
    h1
      flex: 100%
    .col-item
      flex: 0 50%
      +nth2
        flex: 1
        +ml(20px)
    label
      +para
      +fs(1.4)
      +w100
    select
      width: 100%
      height: 33px
      +focus
        border: thin solid $gray $i
      
    ul
      +noList
      li
        +para
        margin: 5px 0
        +fs(1.5)
        i
          +mr(5px)
      
    h2
      +title-section
      +fs(1.8, 100%, 700)
      +co($yellow)
      margin: 20px 0 10px
      
    #map_wrapper
      +mt(20px)
      
//@responsive

header
  +fluid
    height: auto
    .wrapper
      .logo  
        +tCenter
        flex: 100% $i
        margin: 10px auto
        img
          width: auto $i
          height: auto $i     
      nav
        +none
        
main.home section.services .wrapper article
  +fluid
    flex: 100% $i
    margin: 0 0 10px $i
  
main.home section.services .wrapper article:nth-of-type(2)
  +fluid
    margin: 0 $i
  
main.home section.allies h2
  +fluid
    +before
      +none
    +after
      +none
  
footer
  +fluid
    +pb(0 $i)
    +bg(none $i)
    .copy
      +bg(red url(../img/bg_footer-mobile.png) top center $i)
      p,
      div
        flex: 100% $i
        text-align: center $i
        padding: 0 $i
        margin: 5px 0 $i
        
        
//@mobile menu

.menu-mobile
  +none
  +fluid
    display: block $i
    +size(50px)
    +bg( url(../img/icon_hamburguer.png) 10px 10px $nr)
    +pointer
    +top-left
    +z(999999999)
    
.menu-mobile_active
  +fluid
    +bg( url(../img/icon_hamburguer-active.png) 10px 10px $nr)
      
.mobile-menu-active
  +fluid
    +z(99999999999)
    display: block $i
    left: 0px $i
    margin: 0px $i
    ul,
    li
      margin: 0px $i
      flex: 100% $i
      a
        color: #718189 $i
        padding: 10px 0 $i
        text-align: center $i
          
footer .wrapper .contact-info > div
  +fluid
    border: none $i
    
.products-detail h1,
.proveider-detail h1
  +fluid
    +mt(40px $i)
  
.products-detail .wrapper article figure, 
.products-detail .wrapper article .slider,
main.aboutUs .wrapper figure, 
main.aboutUs .wrapper .video,
.services-detail .wrapper article figure, 
.services-detail .wrapper article .slider,
.proveider-detail .wrapper article figure, 
.proveider-detail .wrapper article .slider
  +fluid
    width: 100% $i
    margin: 0 0 10px $i
    height: 200px $i
  
.bussinesLines .grid article
  +fluid
    flex: 100% $i
    margin: 0 0 10px $i
    +nth2
      margin: 0 $i
  
main.contact .wrapper .col-item
  +fluid
    flex: 100% $i
    margin: 0 0 10px $i
  
.treemenu-mobile
  +none
  +fluid
    margin: 10px auto 20px $i
  
main.home section.banner .flex-control-nav
  bottom: $in $i
  top: 10px $i
  right: 10px $i
  left: $in $i
  display: none $i