=page
  +relative
  width: 1100px
  +centered
  +fluid
    width: 100%
  
.wrapper
  +page


*, *:before, *:after
  +cero
  +box-sizing

html
  font-size: 62.5%

body,
hmtl
  +h100
  overflow-x: hidden
  +font1

*:focus
  outline: none
  border: none
  box-shadow: none
  
p

  +mb(0px)
  +lh(130%)
  +last
    +mb(0)

//ul
//  +noList
//  li
//    +mb(10px)
//    +last
//      +mb(0)

ul,
ol
  margin: 0 

=paragraph    
  p, span, li
    +fs(1.3, 150%, 400)
    +co($gray)
    
=para  
  +fs(1.3, 150%, 400)
  +co($gray)
    
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
  display: block
    

/**/

=title_home
  +upper
  +cero
  +fs(1, 100%, 700)
  +w100
  +relative
  +gray
  margin: 40px 0 10px
  +tCenter
  +before
    +content('')
    +w100
    height: 1px
    +bg($gray-light)
    +top-left(50%, 0)
    +z(1)
  span
    +bg(#f3f5f8 url("../img/bg_texture-home.png") center top)
    +relative
    +z(999)
    +inline-block
    padding: 0 10px
    
=titleArticle
  +co($blue)
  +cero
  +fs(1.8, 100%, 400)
  padding: 0px 0 10px
  +upper
  +bb(thin solid $gray-light)
  +ml(2px)

  
=myCarrusel
  +centered(50px, 20px)
  width: 70% $i
  min-height: 440px
  height: 100% $i
  
  div[class*="amazingslider-slider-"]
    +noBorder
    +cero

  div[class*="amazingslider-text-box-"]
    +w100
    margin: 0 $i
    padding: 0 $i
    +bg(rgba(107, 151, 76, .8))

  div[class*="amazingslider-text-wrapper-"]
    margin: 0 $i
    padding: 0 $i
    +w100
    +bg(rgba(107, 151, 76, .8))

  div[class*="amazingslider-text-bg-"]
    +bg(none)

  div[class*="amazingslider-title-"]
    +co(white)
    +fs(1.6, 100%, 700)

  div[class*="amazingslider-description-"]
    +co(white)
    +fs(1.3, 100%, 400)

  div[class*="amazingslider-bullet-wrapper-"]
    width: 100% $i
    +tCenter

  div[class*="amazingslider-bullet-0-"],
  div[class*="amazingslider-bullet-1-"],
  div[class*="amazingslider-bullet-2-"]     
    width: 50px $i
    height: 50px $i
    float: none $i
    +inline-block
    margin: 0 5px $i
    padding: 0 $i
    border: 4px solid $green

  div[class*="amazingslider-bullet-image-"]
    margin: 0 $i
    width: 100% $i
    height: 100% $i
    
=columnInfo     
  +noFloat
  +cero
  +bl(thin solid $gray-light)
  flex: 4
  padding: 0 20px
  h1
    +cero
    +co($green)
    +fs(3, 100%, 700)
    +upper
    +mb(20px)
  p, span, li
    +co($gray)
    +fs(1.3, 100%, 400)
    
=myTabs
  +noFloat
  flex: 1

  +pr(20px)
  li
    +cero
    +bb(thin solid $gray)
    +nth1
      +bt(2px solid $green)
    a
      +cero
      +block
      +tLeft
      padding: 10px 10px 10px 30px
      +fs(1.4, 100%, 400)
      +co($gray)
      +noScroll
      +noUnder
      +relative
      +hover
        +co($green)
      +before
        +content
        +top-left(50%, -14px)
        +transition
        +mt(-7px)
        +size(14px)
        +rotate
        +bg($gray)
      &:hover:before
        +top-left(50%, -7px)
        +bg($green)

=boxes
  +relative
  height: 340px
  +cero
  figure
    height: 200px
    +noScroll
    img
      +s100
  h2
    +cero
    +fs(1.6, 100%, 800)
    +co(white)
    +bg($green)
    padding: 8px 10px
  p
    margin: 10px
    
.ahorranito-icon 
  background-image: url(../img/ahorranito.png)
  background-position: center
  background-repeat: no-repeat
  display: inline-block
  height: 20px
  vertical-align: middle
  width: 20px

.btn
  +cero
  +co(white)
  +radius(2px)
  height: 32px
  +fs(1.2, 32px, 400)
  +upper
  padding:  0 10px
  +transition(.2s)
  +bg($yellow)
  +bb(2px solid $yellow - 30)
  +hover
    +white
    +bg($yellow - 30)
    +bb(1px solid $yellow - 60)
  +focus
    +bg($yellow - 30)
    +white
    +bb(1px solid $yellow - 60)
      
.btn.black
  +cero
  +co(white)
  +radius(2px)
  height: 32px
  +fs(1.2, 32px, 400)
  +upper
  padding:  0 10px
  +transition(.2s)
  +bg($gray-dark)
  +bb(2px solid $gray-dark - 10)
  +hover
    +white
    +bg($gray-dark - 10)
    +bb(1px solid $gray-dark - 30)
  +focus
    +bg($gray-dark - 10)
    +white
    +bb(1px solid $gray-dark - 30)
  
  
.btn-link
  +co($gray-dark)
  +fs(1.3, 100%, 700)
  +transition(.2s)
  +mt(10px)
  +under
  +hover
    +co($blue)
  
=date
  +blue
  +w100
  +fs(1.3, 100%, 300)
  +tRight
  margin: 10px 0
  i
    +blue
    +mr(5px)
    
=panel
  padding: 20px
  +bg(white)
  border: thin solid $gray-light
  box-shadow: 0px 1px 1px rgba(0,0,0,.3)
  +mb(30px) 
  
=article

  +ml(20px)
  +bl(thin solid $gray-light)
  +pl(20px)
  h2
    +titleArticle
  +fluid
    +reset
    +noBorder
    
=donations
  +bg($blue)
  padding: 10px
  
  +mb(20px)
  +white

  +bg($blue url('../img/icon-donations.png') 10px center $nr)
  p
    +para
    +white
    +ib
    vertical-align: middle
    margin: 7px 80px 0 80px
    +fs(1.6, 100%, 700)
  a
    +white
    +radius(4px)
    padding: 10px 20px
    border: thin solid white
    +noUnder
    +ib
    +transition(.2s)
    margin: 0 10px
    +hover
      +bg(white)
      +co($blue)
    i
      +mr(5px)
      
#map_wrapper,
.mapping
  height: 300px
  
h3
  +cero
  
  
=btn-submit
  +noBorder
  +cero
  +co(white)
  +radius(2px)
  height: 32px
  +fs(1.2, 32px, 400)
  +upper
  padding:  0 10px
  +transition(.2s)
  +bg($yellow)
  +bb(2px solid $yellow - 30 $i)
  
  +hover
    +white
    +bg($yellow - 10)
    +bb(1px solid $yellow - 30 $i)
  +focus
    +white
    +bg($yellow - 10)
    +bb(1px solid $yellow - 30 $i)
    
.flexslider 
  margin: 0 $i
  background: none $i
  border: none $i
  position: relative
  +radius(0 $i)
  +noShadow
  
=shadow
  box-shadow: 0px 1px 1px rgba(0,0,0,.3)
    
.preload 
  bottom: 0 
  height: 100% 
  left: 0 
  position: fixed 
  right: 0 
  top: 0 
  width: 100% 
  z-index: 99999999999 
  +bg(white url(../img/loader.gif) center center $nr)
    
    

    
.text
  +para
  
=title-section
  +upper
  +fs(2.6, 100%, 700)
  +gray-dark
  margin: 0 0 10px
      
=container
  padding: 10px
  +shadow
  +bg(white)
    
=treemenu
  > ul
    +bg($yellow)
    +noRadius
    +noShadow
    padding: 10px
    margin: 0 
    > li
      +noRadius
      +noBorder
      +cero
      +bg($transparent)
      +bb(thin solid white $i)
      +noFont  
      > ul
        +none
        > li
          > a
            +fs(1.3, 100%, 400)
            padding: 10px
            +ib
            +noUnder
            +white
            width: 90%
      > a
        +fs(1.5, 100%, 400)
        padding: 10px
        +ib
        +noUnder
        +white
        width: 90%

      .ico-more
        +ib
        vertical-align: middle
        width: 10%
        +pointer
        +fs(1.6, 100%, 400)
        +mt(10px)
        +white
  +fluid
    +none
        
=columns
  .wrapper
    +bg(white)
    +shadow
    padding: 20px
    +mb(20px)
    h1
      flex: 100%
      margin: 0
      +title-section
    .text
      margin: 10px 0 0
      flex: 100%
  .grid
    +col-menu
    +bg(white)
    +shadow
    +page
    padding: 20px  
    .treemenu
      +treemenu
      
      
=boxList
  +box
  article
    flex: 0 32.2%
    padding: 10px
    border: thin solid $gray-light
    +nth2
      margin: 0 10px
    figure
      height: 140px
      img
        +s100
    h2
      +tCenter
      +fs(1.4, 100%, 700)
      +co($yellow)
      +upper
    .text
      +para
    .btn
      margin: 10px 0
      +right
      +clear
      i
        +ml(10px)
  +fluid
    article
      flex: 100% $i
      margin: 0 0 10px $i
      +nth2
        margin: 0 $i
        
=col-menu
  +box
  .col-item:nth-of-type(1)
    flex: 0 25%
    +mr(20px)
    
  .col-item:nth-of-type(2),
  .col-item:nth-of-type(3)
    flex: 1
    +bl(thin solid $gray-light)
    +pl(20px)
  +fluid
    .col-item:nth-of-type(1)
      flex: 100%
      +mr(0px)
    
    .col-item:nth-of-type(2),
    .col-item:nth-of-type(3)
      flex: 100%
      +bl(none)
      +pl(0px)
    

    
=help
  +white
  +bg($gray-light)
  padding: 5px
  +mt(1px)
  +noFont
  +gray
  i
    +mr(5px)
    +fs(2)
    +ib
    +gray
  p
    +cero
    +ib
    width: 85%
    +fs(1.1, 130%, 300)
    +gray-dark
    
=detail   
  .wrapper
    +container
    h1
      +title-section
    article
      figure,
      .slider
        height: 400px
        border: thin solid $gray-light
        +left
        width: 500px
        margin: 8px 20px 10px 0
        +bg($yellow)
        img
          +s100
      .price,
      .reference
        +para
        padding: 5px
        width: 460px
        +right
        +bb(thin solid $gray-light)
        i
          +mr(10px)
      .price
        +mb(20px)
  .btn
    +top-right(10px, 10px)
    
.btn-submit
  +btn-submit