<footer>
  <!-- widget chat 
	{{ theme:partial name="chat" }}-->
  <div class="wrapper">

    <div class="contact-info">
      {{ widgets:instance id="3"}}
    </div>
    <div class="copy">
      <p class="copyright">&#169; {{ helper:date format="Y" }} - <span>{{ settings:site_name }}</span> - {{ helper:lang line="all_right_reserved" }}</p>
      <div class="ahorranito">
        <a href="http://imaginamos.com/" target="_blank">Desarrollo de software <div class="ahorranito-icon"></div> imagin<span class="a-logo">a</span>mos.com</a>
      </div>

    </div>


  </div>
</footer>

