<header>

  <div class="wrapper">
    <a class="logo" href="{{ url:site }}">
      <img src="{{ url:site }}{{ widgets:instance id='2'}}" alt="Inicio" />
    </a>
    <div class="menu-mobile"></div>
    <nav>
      <ul>
        <li><a href="">Galerías</a></li>
        <li><a href="">Vídeos</a></li>
        <li><a href="">Servicios</a></li>
        <li><a href="">Contáctenos</a></li>
      </ul>
    </nav>
    <div class="social">
        <a href=""><i class="fa fa-twitter"></i></a>
    <a href=""><i class="fa fa-facebook"></i></a>

    <a href=""><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</header>
<!--<section class="preload"></section>-->
