
<meta charset="utf-8">
<meta name="description" content="FastProject">
<meta name="keywords" content="HTML5">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ template:title }} | {{ settings:site_name }}</title>

<base href="{{ url:base }}"/>

{{ theme:favicon file="favicons/favicon.ico"}}
{{ theme:favicon file="favicons/apple-touch-icon.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon" }}
{{ theme:favicon file="favicons/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon" }}

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- css -->
{{ asset:css file="animate.css" }}
{{ asset:css file="flexslider.css" }}
{{ asset:css file="{{theme:options:bootSwatch_layout}}.css" }}
{{ asset:css file="bootstrap-theme.min.css" }}
{{ asset:css file="jquery.fancybox.css" }}
{{ asset:css file="font-awesome.css" }}
{{ asset:css file="jquery.fs.boxer.css" }}
{{ asset:css file="main.min.css" }}

<!-- jQuery -->
<!-- para el chat -->
{{ theme:js file="lib/jquery-1.8.3.js" }}
<script>var CHAT_SERVER_URL = "{{ url:site }}";</script>
<script>var SITE_URL = '{{ url:site }}'</script>

<!--{{ asset:js file="jquery-1.11.0.min.js" }}-->
{{ asset:js file="waypoints.min.js" }}
{{ asset:js file="bootstrap.min.js" }}
{{ asset:js file="jquery.carouFredSel-6.2.1-packed.js" }}
{{ asset:js file="jquery.fancybox.js" }}
{{ asset:js file="jquery.fancybox-media.js" }}
{{ asset:js file="developer.js" }}
{{ asset:js file="jquery.flexslider.js" }}
{{ asset:js file="jquery.fancybox.pack.js" }}
{{ asset:js file="initslider-1.js" }}
{{ asset:js file="amazingslider.js" }}
{{ asset:js file="main.js" }}

{{ asset:js file="jquery.fs.boxer.js" }}
<!-- para el chat -->
{{ theme:js file="lib/handlebars.js" }}
<!-- scroll chat -->
{{ theme:js file="jquery.mousewheel.js" }}
{{ theme:js file="jquery.jscrollpane.js" }}
{{ theme:js file="scroll-startstop.events.jquery.js" }}


{{ asset:render }}


{{ template:metadata }}
